[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Gerrit events listener to send events to an external Apache Kafka broker.
[access "refs/*"]
	owner = group GerritForge-events-kafka
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-events-kafka
	label-Verified = -1..+1 group GerritForge-events-kafka
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-events-kafka
	removeReviewer = group GerritForge-events-kafka
	submit = group GerritForge-events-kafka
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
